.CategoryDisplay {
    padding-top: 2rem 
}
.CategoryDisplay-card {
    border-radius: 100%;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    padding-bottom: 2rem;
}

.CategoryDisplay-card-container {
    width: 15rem;
    text-align: center;
}

.CategoryDisplay-card img {
    height: 100%;
    width: 100%
}

.CategoryDisplay-card-container h3 {
   text-align: center;
   margin-top: -2rem;
}

.CategoryDisplay-container {
    display: flex;
    justify-content: space-between;
}


.books {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 2rem;
}
.book {
  width: 100%;
  background-color: white;
  padding:0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1.5rem;
}
.book-detail{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
  background-color: transparent;
  padding-left: 0.5rem;
  flex-grow:1;
}
.book:hover {
  box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.35), -3px -3px 30px 0px rgba(255,255,255,0.9);
}
.thumbnail {
  width: 8rem;
  height: 100%;
}
/* Carousel */
.cell-button {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 50;
}
.carousel-overlay {
  width: 100%;
  height : 100%;
  transition: all .2s ease-in-out;
  opacity: 0;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,0.3) );
  transition: opacity .5s ease-in-out;
  z-index: 20;
  top: 0;
}
.show-carousel-overlay .carousel-overlay {
  opacity: 1;
}
.show-carousel-overlay .book-details {
  opacity: 1;
  z-index: 30;
}

.book-details {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  padding: 1rem;
}
.rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rating-section{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.rating-divider {
  width: 1px;
  height: 100%;
  margin: 0 2px;
  padding:0;
  background-color: rgba(233, 233, 233, 0.541);
}
/* flickity.css */
.carousel {
  background: transparent;
  height: 14rem;
}

.carousel-cell {
  width: 8rem;
  height: 12rem;
  margin-right: 5px;
  border-radius: 0px;
  counter-increment: carousel-cell;
}
.flickity-viewport {
  height: 100% !important;
}

/* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 2rem;
  height: 100%;
  border-radius:0;
  background:white;
  opacity:0.8;
}
.flickity-prev-next-button:hover {
  background:white;
  opacity:0.6;
}
.flickity-prev-next-button.previous {
  left:0;
  border-right: 1px solid rgba(0,0,0,0.25) ;
}
.flickity-prev-next-button.next {
  right:0;
  border-left: 1px solid rgba(0,0,0,0.25) ;
}
/* icon color */
.flickity-button-icon {
  fill: black;
  z-index:100;
  opacity:1;
  padding: 3px;  
}
.flickity-button-icon .arrow {
  fill: black;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}
/* Page dots */
.flickity-page-dots {
    bottom: 6px;
  }
.flickity-page-dots .dot.is-selected {
  background: green;
}
@media screen and  (min-width: 499px) {
  .carousel {
    height: 18rem;
  }
  .carousel-cell {
    width:10rem;
    height: 16rem;
    margin-right: 12px;
  }
  .shadow-lg {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.55);
  }
  .book {
    width: 45%;
    margin-right: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .carousel {
    height: 24rem;
  }
  .carousel-cell {
    width:14rem;
    height: 20rem;
    margin-right: 30px;
  }
  .carousel-cell:hover .carousel-overlay {
    opacity: 1;
  }
  .carousel-cell:hover .book-details {
    opacity: 1;
    z-index: 30;
  }
  .cell-button {
    display: none !important;
  }
  .book {
    width: 32%;
    margin-right: 1%;
    height: 12rem;

  }
  .flickity-prev-next-button {
    width: 2.5rem;
  }
  .flickity-button-icon {
    padding: 4px;
  }
  .rating {
    flex-wrap: no-wrap;
  }

  .item-toggle {
    display: none;
  }
  .search-container {
    position: static;
    top: auto;
    width: auto;
    flex-grow: 1;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding: 0.5rem 0;
    height: 100%;
    overflow: visible;
  }
  .search-box {
    width: 32rem;
    flex-grow:0;
  }
  .logo-title {
    display: block;
  }
  .back-icon {
    display: none;
  }

 
  .md\:hidden {
    display: none;
  }


  /*image carousel*/
  .carousel-images{
    width: 100% ;
    height: 100%;
  }
 
  .md\:w-4 {
      width: 1rem;
  }
  .md\:h-4 {
    height: 1rem;
  }
  .md\:w-12 {
    width: 3rem;
  }
  .md\:h-12 {
    height: 3rem;
  }
  .md\:w-8 {
    width: 2rem;
  }
  .md\:h-8 {
    height: 2rem;
  }
  .md\:w-5 {
    width: 1.2rem;
  }
  .md\:h-5 {
    height: 1.2rem;
  }
  .md\:w-6 {
    width: 1.5rem;
  }
  .md\:h-6 {
    height: 1.5rem;
  }
  .md\:mb-2 {
    margin-bottom: 0.7rem;
  }
  .md\:no-truncate {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
  }
  .md\:block {
    display: unset;
  }
  .md\:text-xs {
    font-size: 0.7rem;
  }
  .md\:text-sm {
     font-size: 0.775rem; 
  }
  .md\:text-md {
      font-size: 0.875rem;
  }
  .md\:font-bold {
    font-weight: 700;
  }
  .thumbnail {
    width: 8rem;
  }
}

.outofstock{
  color: 	 #ff3333;
  font-size: 13px;
}
.available-copies{
  font-size: 15px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
 .carousel-images{
 height: 700px;
 width: 700px;

  

 }

}



