

.image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: coral;
    cursor: pointer;
}
p{
    margin-top: 2px;
   font-weight: bold;
   font-size: 21px;
   margin-right: 85px;
   margin-left: 2px;
}




