

.product-box{
    display: grid;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 10px;
    background: #ffff;
  
}

.product-img{
    width:180px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    display:flex;
    
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.add-cart:hover{
    background-color: #129ba5;
    transition: all ease 0.2s;
}
.product-box:hover .add-cart{
    display: flex;
}


