.sidedrawer{
    width: 50%;      
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    /* transform: translateX(-100%); */
      transform: translateX(-190%);
    transition: all 0.3s ease-out;
    display:flex;
    flex-direction: column;
    justify-content: left;  
     

}
.sidedrawer.show{
    /* transform: translateX(0); */
    transform: translateX(100%);
     overflow-y: scroll;
     overflow-x: hidden;
      padding-top: 40px;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}

.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: #000;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #fff;
}

.checkout{
    padding-top: 35px;
}