
body{
    font-family:poppins;
    margin:0px;
    padding: 0px;
   font-family: 'Ubuntu', sans-serif;
    background-color: #ffffff;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
